


.navbar{
    height: 50px;
    background-color: #33A8FF;
    display: flex;
    justify-content: space-around;

    a {
        margin: 10px;
    }

    a.active {
        text-decoration: underline;
    }
  }
  
  .navbar img {
     
      height: 50px;
      width: 40px;


  }


  .nav-wrapper {
    margin-top: 22px;

  
}