


.navbar{
    height: 50px;
    background-color: burlywood;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar img {
      display: flex;
      justify-content: space-evenly;
      height: 25px;
      width: 40px;
  }