
.navbar{
    height: 50px;
    background-color: #33A8FF;
    display: flex;
    justify-content: space-around;

    a {
        color:black;
        margin: 10px;
        text-decoration: none;
    }
a:hover {
    color:tomato;
    transition: 0.9s;

}
    a.active {
        text-decoration: none;
    }
  }
  
  .navbar img {
     
      height: 50px;
      width: 40px;


  }


  .nav-wrapper {
    margin-top: 22px;

  
}